@model icbf_web.Models.Jardin

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Jardín</h1>

<h3>¿Está seguro que desea eliminar este jardín?</h3>
<hr />
<div class="container mt-4">
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.NombreJardin)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.NombreJardin)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DireccionJardin)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DireccionJardin)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.EstadoJardin)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.EstadoJardin)
        </dd>
        <div class="text-center mt-4">
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdJardin" />
                <button type="submit" class="btn btn-danger">Eliminar</button> |
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </dl>
</div>
