@model icbf_web.Models.Jardin

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de Jardín</h1>

<div class="container mt-4">
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.NombreJardin)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.NombreJardin)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DireccionJardin)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DireccionJardin)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.EstadoJardin)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.EstadoJardin)
        </dd>
    </dl>
</div>
<div class="text-center mt-4">
    <div class="btn-group" role="group" aria-label="Acciones">
        <a asp-action="Edit" asp-route-id="@Model?.IdJardin" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
    </div>
</div>
