@model IEnumerable<icbf_web.Models.Jardin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreJardin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionJardin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoJardin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreJardin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionJardin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoJardin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdJardin">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdJardin">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdJardin">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
