@model IEnumerable<icbf_web.Models.RegistroAsistencia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            @Html.DisplayNameFor(model => model.Nino.NombreNino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoNinoRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nino.NombreNino)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoNinoRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRegistroAsistencia">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRegistroAsistencia">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRegistroAsistencia">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
