@model icbf_web.Models.Nino

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar registro</h1>

<h3>¿Está seguro de eliminar este registro?</h3>

<hr />
<div class="container">
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.NombreNino)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.NombreNino)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.FechaNacimientoNino)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FechaNacimientoNino)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.TipoSangreNino)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.TipoSangreNino)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CiudadNacimientoNino)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CiudadNacimientoNino)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.TelefonoNino)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.TelefonoNino)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DireccionNino)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DireccionNino)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.EpsNino)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.EpsNino)
        </dd>
        <div class="text-center mt-4">
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdNino" />
                <button type="submit" class="btn btn-danger">Eliminar</button> |
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </dl>
</div>
