@model IEnumerable<icbf_web.Models.Nino>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdNino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreNino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimientoNino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSangreNino)
            </th>     
            <th>
                @Html.DisplayNameFor(model => model.DireccionNino)
            </th>
         
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNino)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreNino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimientoNino)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoNino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionNino)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNino">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNino">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNino">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
