@model icbf_web.Models.RegistroAvanceAcademico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegistroAvanceAcademico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnioEscolarAvance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnioEscolarAvance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelAvance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelAvance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaAvance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaAvance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionAvance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionAvance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntregaAvance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntregaAvance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAvance">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
